.simple-transition {
  background-color: blue;
  /* margin: 16px; */
  transition: all 2000ms ease;
  height: 100px;
  width: 100px;
}

.simple-transition:hover {
  width: 100%;
  background-color: brown;
}

.div-one {
  background-color: blue;
  margin: 16px;
  transition: all 500ms ease;
  height: 100px;
  width: 100px;
}

.div-one:hover {
  transform: scale(2);
}

/* translate */
.s-translate {
  background-color: blue;
  margin: 16px;
  transition: all 500ms ease;
  height: 100px;
  width: 100px;
}

.s-translate:hover {
  /* transform: translate(100px, -100px); */
  transform: translateX(100px) translateY(-100px);
}




/* rotate */
.s-rotate {
  background-color: blue;
  margin: 16px;
  transition: all 2000ms ease;
  height: 100px;
  width: 100px;
  color: white
}

.s-rotate:hover {
  transform: rotate(180deg);
}









.s-rotatex {
  background-color: blue;
  margin: 16px;
  transition: all 1000ms ease;
  height: 100px;
  width: 100px;
  color: white;
}

.s-rotatex:hover {
  transform: rotateX(360deg);
}

.s-rotatey {
  background-color: blue;
  margin: 16px;
  transition: all 1000ms ease;
  height: 100px;
  width: 100px;
  color: white;
}

.s-rotatey:hover {
  transform: rotateY(180deg);
}

.s-skew {
  background-color: blue;
  margin: 16px;
  transition: all 500ms ease;
  height: 100px;
  width: 100px;
  color: white;
}

.s-skew:hover {
  transform: skew(180deg, 30deg);
}

.m-2 {
  margin: 16px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #00f;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #00f;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #00f;
  border-bottom: 50px solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #00f;
  border-bottom: 50px solid transparent;
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #00f;
  border-right: 100px solid transparent;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid blue;
  border-left: 100px solid transparent;
}


.parallelogram {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  background: #00f;
}

.oval {
  height: 100px;
  width: 50px;
  background-color: #00f;
  border-radius: 50%;
}

.trapezoid {
  border-bottom: 50px solid #00f;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 125px;
}

.pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: blue transparent;
}

.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent blue;
}

.hexagon {
  width: 100px;
  height: 57.735px;
  background: blue;
  position: relative;
}

.hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid blue;
}

.hexagon::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid blue;
}